body {
    margin: 0;
    padding: 0;
    background-color: #433f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.envelope {
    position: relative;
    width: 300px;
    height: 200px;
    cursor: pointer;
    perspective: 1000px;
}

.envelope-flap, .envelope-body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hotpink;
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}


.envelope-flap {
    transform: rotateX(0deg);
    z-index: 2;
}

.envelope-body {
    transform: rotateX(-90deg);
    top: 10px;
}

.envelope.open .envelope-flap {
    transform: rotateX(-90deg);
}

.envelope.open .envelope-body {
    transform: rotateX(0deg);
}

.message {
    text-align: center;
    display: flex;
    justify-content: center;
    animation: reverse 0.;
    font-size: 3em;
    color: #333;
    margin: 7;
    padding: 20px;
}
